body{
    background-color: red;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.container{
    background-color: #ffffff;
    margin: 2rem auto;
    border-left: 2px solid red;
    border-right: 2px solid red;
    min-height: 90vh;
    padding: 12px;
    border-radius: 15px;
}
.btn{
    padding: 3px;
    background-color: red;
    border-radius: 7px;
    font-size: 20px;
    outline: none;
    color: #ffffff;
}

.btn:hover,.btn:active,.btn:focus{
    background-color: rgb(216, 97, 97);
    outline: none;
}

.addForm{
   background-color:green;
   padding: 3px;
   text-align: center;
   
}

.addForm input{
    height: 30px;
    border-radius: 12px;
}
.tbl_records{
    
}
.tbl_records tr th,.tbl_records tr td{
    padding:3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dddddd;
    border: none;
    color: #2e2e2e;
}
.tbl_records tr td:hover{
    background-color: #ffffff;
    color: #2e2e2e;
}
#r{
    font-size: 10rem;
    color: green;
}
.navtop{
    display: flex;
}
.navtop ul{
    display: flex;
    list-style: none;
}
.navtop ul li{
    background-color: red;
    width: 80px;
    margin-left: 20px;
    padding: 3px;
    display: flex;
    justify-content: center;   
    align-items: center;   
    border: 1px solid blue;     
    border-top-left-radius: 12px;

}
.navtop ul li.active{
    border-bottom: 3px solid blue;
}
.navtop ul li:hover{
   
    animation: redToBlue 0.5s ease-in-out;
}
@keyframes redToBlue {
    0%{
        background-color: red;
    }
    100%{
        background-color: blue;
    }
}
.navtop ul li a{
    color: #ffffff;
}

/******Dialogs***********/
.showMyAlert{
display: block !important;
}
.myAlert{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    
}
.myAlert .alert{
    position: absolute;
    top:40%;
    left: 40%;
    z-index: 100;    
    border: 2px solid #2e2e2e;
    border-radius: 12px;
    height: 120px;
    width: 250px;
    text-align: center;
    box-shadow: 0.5px 1.5px;
    background-color: #f3e8e8;
    color: #e47474;
    padding-top: 10px;
}
.myAlert .alert .close{
    position: absolute;
    right: 5px;
    top:5px;
    height: 10px;
    width: 10px;
    font-size: 8px;
    background-color: #2e2e2e;
    color: #dddddd;
    padding: 5px;
    border:1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.myAlert .alert #msg{
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    max-width: 80%;
    
}

@media only screen and (max-width: 910px) {
body{
   
}
.navtop{
    flex-direction: column;
}

}